<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="layout" value="${longdate}|${level:uppercase=true}|T${threadid}|${callsite:includeNamespace=false}|${message}${onexception:inner=${newline}${exception:format=Data,ToString}}" />
    <targets async="true">
        <target xsi:type="ColoredConsole" name="logconsole" layout="${layout}" useDefaultRowHighlightingRules="false">
            <highlight-word regex="^.*?\|Fatal\|.*?\|.*?\|" backgroundColor="DarkRed" ignoreCase="true">
                <filters><when condition="level = LogLevel.Fatal" action="Log"/></filters>
            </highlight-word>
            <highlight-word regex="^.*?\|Error\|.*?\|.*?\|" backgroundColor="DarkYellow" ignoreCase="true">
                <filters><when condition="level = LogLevel.Error" action="Log"/></filters>
            </highlight-word>
            <highlight-word regex="^.*?\|Warn\|.*?\|.*?\|" backgroundColor="DarkMagenta" ignoreCase="true">
                <filters><when condition="level = LogLevel.Warn" action="Log"/></filters>
            </highlight-word>
            <highlight-word regex="^.*?\|Info\|.*?\|.*?\|" foregroundColor="White" ignoreCase="true">
                <filters><when condition="level = LogLevel.Info" action="Log"/></filters>
            </highlight-word>
            <highlight-word regex="^.*?\|Debug\|.*?\|.*?\|" foregroundColor="Gray" ignoreCase="true">
                <filters><when condition="level = LogLevel.Debug" action="Log"/></filters>
            </highlight-word>
            <highlight-word regex="^.*?\|Trace\|.*?\|.*?\|" foregroundColor="DarkGray" ignoreCase="true">
                <filters><when condition="level = LogLevel.Trace" action="Log"/></filters>
            </highlight-word>
        </target>
        <target xsi:type="File" name="logfile" layout="${layout}" fileName="logs/latest.log" archiveFileName="{#}.log"
                archiveNumbering="DateAndSequence" maxArchiveFiles="15" enableArchiveFileCompression="true" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
    </rules>
</nlog>
