.tieba-user-portrait-small {
    width: 25px;
    height: 25px;
}
.tieba-user-portrait-large {
    width: 90px;
    height: 90px;
}
.tieba-image {
    margin: .25rem;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}
