.tieba-user-portrait-small {
    width: 25px;
    height: 25px;
}
.tieba-user-portrait-large {
    width: 90px;
    height: 90px;
}

.tieba-image.lazy.loaded {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}
.tieba-image {
    width: 150px; /* to prevent it shrink to 0x0px */
    height: 150px;
    margin: .25rem;
}
