.tieba-user-portrait-small {
    inline-size: 1.6rem;
    block-size: 1.6rem;
    object-fit: contain;
}
.tieba-user-portrait-large {
    inline-size: 6rem;
    block-size: 6rem;
    object-fit: contain;
}

.tieba-image {
    max-inline-size: 18.75rem;
    max-block-size: 18.75rem;
    object-fit: contain;
    margin: .25rem;
    cursor: zoom-in;
}
span:has(+ .tieba-image) {
    display: block;
}
.tieba-image + span {
    display: block;
}
