.tieba-user-portrait-small {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
}
.tieba-user-portrait-large {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}

.tieba-image {
    max-width: 18.75rem;
    max-height: 18.75rem;
    object-fit: contain;
    margin: .25rem;
    cursor: zoom-in;
}
span:has(+ .tieba-image) {
    display: block;
}
.tieba-image + span {
    display: block;
}
