.input-group-text ~ * > .ant-input-lg {
    block-size: 38px; /* adopt to bootstrap input group */
}

.loading-huaji {
    background: url('/assets/icon-huaji-loading-spinner-2nd-frames-removed.gif') no-repeat center;
}

a {
    color: #1890ff; /* use antd color to stress bootstrap hover animation */
    text-decoration: none !important; /* override browser underline */
}

address {
    margin-bottom: 0 !important; /* https://getbootstrap.com/docs/5.3/content/reboot/#address */
}

* {
    font-weight: 300;
}

@media (max-width: 991.98px) {
    .container { /* let all .container be like .container-fluid when vw is less than md breakpoint */
        max-width: 100% !important;
    }
}
